################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NTTS/.vs/NTTS/v16/Server/sqlite3
